{% extends "base.html" %}
{% load form_extras %}

{% block content %}
<h2>Voor we beginnen...</h2>

<p>
Voordat we met de test starten, willen we u enkele korte vragen stellen. 
Deze gaan bijvoorbeeld over uw leeftijd, of u gehoorproblemen heeft.
</p>

<p>
Deze informatie is belangrijk om uw testresultaat beter te kunnen begrijpen en eventueel te vergelijken met anderen in uw leeftijdsgroep.
</p>

<p>
Uw antwoorden worden vertrouwelijk behandeld en uitsluitend gebruikt voor onderzoeks- of testdoeleinden.
</p>

<p class="text-danger">
Alle onderstaande vakjes moeten worden aangevinkt om verder te gaan. 
Als u één of meerdere van deze vragen met <strong>‘Nee’</strong> zou moeten beantwoorden, is deze test op dit moment helaas <strong>niet geschikt voor u</strong>.
</p>

</p>


<form method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            {% if field.field.widget.input_type == "checkbox" %}
                <div class="form-check d-flex align-items-start">
                    {{ field }}
                    <label class="form-check-label ms-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.help_text %}
                            <i class="bi bi-info-circle-fill text-info ms-1"
                            data-bs-toggle="tooltip"
                            title="{{ field.help_text }}"></i>
                        {% endif %}
                    </label>
                </div>
            {% else %}
                <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }}
                    {% if field.help_text %}
                        <i class="bi bi-info-circle-fill text-info ms-1"
                           data-bs-toggle="tooltip"
                           title="{{ field.help_text }}"></i>
                    {% endif %}
                </label>
                {{ field|add_class:"form-control" }}
            {% endif %}

            {% if field.errors %}
                <div class="text-danger small">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Verder</button>
</form>


{% endblock %}