{% extends "digit.html" %}

{% load static %}
{% block title %}Testvraag{% endblock %}

{% block inner %}
<h2 class="mb-3">Testvraag {{ current }}/{{ total }}</h2>

<p>
    U hoort een reeks van drie cijfers tegen achtergrondruis.<br>
    Voer ze hieronder in met het toetsenblok. Weet u het niet zeker? <strong>Gok gerust</strong>.
</p>

<div class="text-center mb-3">
    <button class="btn btn-outline-primary" onclick="document.getElementById('test-audio').play()">Speel geluid af</button>
    <audio id="test-audio" src="{{ audio_url }}" preload="auto"></audio>
</div>


{% endblock %}