{% extends "base.html" %}

{% load static %}
{% block title %}Voorbeeldvraag{% endblock %}

{% block content %}
<h2 class="mb-3">Voorbeeldvraag – Hoe werkt de test?</h2>

<p>
U staat op het punt om te starten met de <strong>Digits-in-Noise</strong>-test. Dit is een gehoortest waarbij u telkens drie cijfers hoort, bijvoorbeeld <em>“5 – 1 – 9”</em>, die uitgesproken worden tegen een achtergrond van ruis.
</p>

<p>
Tijdens de volledige test krijgt u in totaal <strong>{{n_tests}} verschillende reeksen</strong> te horen, elke reeks is <strong>anders bewerkt</strong>. Elke reeks bevat <strong>24 testvragen</strong>.
</p>

<p>
Bij elke vraag hoort u een reeks van drie cijfers. Het is de bedoeling dat u deze cijfers invoert met het toetsenblok. Als u het niet zeker weet of iets niet goed hoort, is dat <strong>geen probleem</strong> — <em>gokken is juist de bedoeling</em>! Dat helpt ons om uw gehoordrempel in rumoerige situaties goed te meten.
</p>

<p>
De test begint pas echt na deze voorbeeldvraag. Dit is alleen bedoeld om u te laten wennen aan de vorm van de vragen.
</p>

<div class="mb-3 text-center">
    <button class="btn btn-outline-primary" onclick="document.getElementById('test-audio').play()">Speel voorbeeldgeluid af</button>
    <audio id="test-audio" src="{% static 'audio/din/triplets/046.wav' %}" preload="auto"></audio>
</div>

{% include "components/digit.html" %}


{% endblock %}
